.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-top: 5rem;
}

.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(48, 47, 47);
  color: #fff;
}

.header nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}

.header ul {
  width: 100%;
  justify-content: flex-end;
  height: 100%;
  display: flex;
}
.header li {
  height: 100%;
  width: 7rem;
  list-style: none;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.header a:hover {
  background-color: brown;
  color: rgb(243, 234, 234);
  font-weight: bold;
}


.header img{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}



.text{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  fill: black;
  max-width: 3rem;
  overflow-x: hidden;
}

main, .container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

h1{
  font-size: 3rem;
}

svg{
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

text{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

tspan{
  font-size: 0.7rem;
  overflow-x: hidden;
}

.container-main{
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}


#tooltip{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.788);
  color: #fff;
  padding: 0.5rem;
  width: 20rem;
}

#tooltip span{
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}